@model GameCatalog.Models.GameModel

@{
    ViewBag.Title = "Game Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Developer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GameGenres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameGenres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GamePlatforms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GamePlatforms)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", Model) |
    @Html.ActionLink("Back to Games", "Index")
</p>
