@model IEnumerable<GameCatalog.Models.GameModel>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add a new game...", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameGenres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamePlatforms)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameGenres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamePlatforms)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", item) |
                @Html.ActionLink("Details", "Details", new { gameID = item.GameID }) |
                @Html.ActionLink("Delete", "Delete",
                    new { gameID = item.GameID },
                    new { onclick = $"return confirm('Are you sure you want to delete {item.Title}?')" })
            </td>
        </tr>
    }
</table>
